* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f4f4f4;
}

#navigasi {
    width: 100%;
    background-color: #241e1e;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

#navigasi a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: calibri;
    margin-right: 30px;
}

#hero {
    height: 100vh;
    width: 100%;
    background-image: url("assets/headerback.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 150px;
}

#hero p {
    width: 400px;
    font-size: 20px;
}

#hero h1 {
    font-size: 40px;
    color: #241e1e;
}

#seemore {
    display: block;
    width: 105px;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 15px;
    border-radius: 5px;
}

#seemore:hover {
    background-color: grey;
}

#aboutme {
    height: 100%;
    padding: 150px 150px 0px 150px;
}

#aboutme h1 {
    text-align: center;
}

#aboutme>div:nth-child(2) {
    margin-top: 80px;
    width: 100%;
    display: flex;
}

#aboutme h1 {
    font-size: 40px;
    color: #241e1e;
}

#aboutme>div:nth-child(2)>div:first-child {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutme>div:nth-child(2)>div:first-child span {
    padding-top: 10px;
}

#aboutme div:nth-child(2) div:nth-child(2) {
    width: 80%;
    padding-left: 20px;
    margin-left: 20px;
    border-left: 4px solid black;
    padding-top: 20px;
}

#aboutme div:nth-child(2) div:nth-child(2) p {
    font-size: 18px;
    line-height: 2;
}

#portfolio {
    height: 100%;
    padding: 80px 150px 0px 150px;
}

#portfolio h1 {
    text-align: center;
    font-size: 40px;
}

#portfolio>div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 80px;
}

#portfolio>div:nth-child(2)>div {
    width: 100%;
    height: 100%;
}

#portfolio>div:nth-child(2)>div img {
    background-size: cover;
    width: 100%;
    height: 100%;
}

#blog {
    height: 100%;
    padding: 80px 150px 0px 150px;
}

#blog>h1 {
    text-align: center;
    font-size: 40px;
}

#blog>div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 80px;
}

#blog>div:nth-child(2)>div {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px #ccc;
    background-color: white;
}

#blog>div:nth-child(2)>div>div:first-child {
    width: 100%;
    height: 100%;
}

#blog img {
    background-size: cover;
    width: 100%;
}

#blog>div:nth-child(2)>div>div>div {
    padding: 10px 10px 10px 10px;
}

#blog>div:nth-child(2)>div p {
    padding-top: 15px;
}

#blog>div:nth-child(2)>div>div a {
    text-decoration: none;
    color: blue;
    padding: 10px;
    width: 100%;
    display: block;
    border-top: solid thin black;
    background-color: rgba(0, 0, 0, 0.03);
}

#team {
    height: 100%;
    padding: 80px 150px 0px 150px;
}

#team>h1 {
    text-align: center;
    font-size: 40px;
}

#team>div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 80px;
}

#team>div:nth-child(2)>div {
    position: relative;
    width: 100%;
    height: 100%;
}

#team img {
    background-size: cover;
    width: 100%;
}

#team>div:nth-child(2)>div>div {
    background-color: #483434;
    color: #fff;
    text-align: center;
    position: absolute;
    border-top-right-radius: 93%;
    transition: 0.3s ease-in-out;
    width: 88%;
    bottom: 24px;
}

#team>div:nth-child(2)>div:hover>div {
    height: 100%;
    background: #e8e1d9a4;
    position: absolute;
    width: 100%;
    padding: 5em;
    top: 0;
    border-top-right-radius: 0;
}

#getin {
    height: 100%;
    padding: 80px 150px 0px 150px;
    display: flex;
    margin-bottom: 50px;
}

#getin>div {
    width: 100%;
}

#getin>div:nth-child(1) {
    display: flex;
    align-items: center;
}

#getin h1 {
    font-size: 40px;
}

#getin>div:nth-child(2)>div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#getin input {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
}

#getin textarea {
    width: 100%;
    height: 80px;
}

#getin>div:nth-child(2)>div>div {
    margin-bottom: 20px;
}

#submit {
    background-color: #241e1e;
    color: white;
}